wsdl_and_schemas/PlayerServiceEUImplementationService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://eu.playerservices/" name="PlayerServiceEUImplementationService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://eu.playerservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://eu.playerservices/" schemaLocation="PlayerServiceEUImplementationService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createPlayerAccount">
    <part name="parameters" element="tns:createPlayerAccount"/>
  </message>
  <message name="createPlayerAccountResponse">
    <part name="parameters" element="tns:createPlayerAccountResponse"/>
  </message>
  <message name="playerSignIn">
    <part name="parameters" element="tns:playerSignIn"/>
  </message>
  <message name="playerSignInResponse">
    <part name="parameters" element="tns:playerSignInResponse"/>
  </message>
  <message name="playerSignOut">
    <part name="parameters" element="tns:playerSignOut"/>
  </message>
  <message name="playerSignOutResponse">
    <part name="parameters" element="tns:playerSignOutResponse"/>
  </message>
  <message name="transferAccount">
    <part name="parameters" element="tns:transferAccount"/>
  </message>
  <message name="transferAccountResponse">
    <part name="parameters" element="tns:transferAccountResponse"/>
  </message>
  <message name="adminSignIn">
    <part name="parameters" element="tns:adminSignIn"/>
  </message>
  <message name="adminSignInResponse">
    <part name="parameters" element="tns:adminSignInResponse"/>
  </message>
  <message name="adminSignOut">
    <part name="parameters" element="tns:adminSignOut"/>
  </message>
  <message name="adminSignOutResponse">
    <part name="parameters" element="tns:adminSignOutResponse"/>
  </message>
  <message name="getPlayerStatus">
    <part name="parameters" element="tns:getPlayerStatus"/>
  </message>
  <message name="getPlayerStatusResponse">
    <part name="parameters" element="tns:getPlayerStatusResponse"/>
  </message>
  <message name="suspendAccount">
    <part name="parameters" element="tns:suspendAccount"/>
  </message>
  <message name="suspendAccountResponse">
    <part name="parameters" element="tns:suspendAccountResponse"/>
  </message>
  <portType name="PlayerServiceEUImplementation">
    <operation name="createPlayerAccount">
      <input wsam:Action="http://eu.playerservices/PlayerServiceEUImplementation/createPlayerAccountRequest" message="tns:createPlayerAccount"/>
      <output wsam:Action="http://eu.playerservices/PlayerServiceEUImplementation/createPlayerAccountResponse" message="tns:createPlayerAccountResponse"/>
    </operation>
    <operation name="playerSignIn">
      <input wsam:Action="http://eu.playerservices/PlayerServiceEUImplementation/playerSignInRequest" message="tns:playerSignIn"/>
      <output wsam:Action="http://eu.playerservices/PlayerServiceEUImplementation/playerSignInResponse" message="tns:playerSignInResponse"/>
    </operation>
    <operation name="playerSignOut">
      <input wsam:Action="http://eu.playerservices/PlayerServiceEUImplementation/playerSignOutRequest" message="tns:playerSignOut"/>
      <output wsam:Action="http://eu.playerservices/PlayerServiceEUImplementation/playerSignOutResponse" message="tns:playerSignOutResponse"/>
    </operation>
    <operation name="transferAccount">
      <input wsam:Action="http://eu.playerservices/PlayerServiceEUImplementation/transferAccountRequest" message="tns:transferAccount"/>
      <output wsam:Action="http://eu.playerservices/PlayerServiceEUImplementation/transferAccountResponse" message="tns:transferAccountResponse"/>
    </operation>
    <operation name="adminSignIn">
      <input wsam:Action="http://eu.playerservices/PlayerServiceEUImplementation/adminSignInRequest" message="tns:adminSignIn"/>
      <output wsam:Action="http://eu.playerservices/PlayerServiceEUImplementation/adminSignInResponse" message="tns:adminSignInResponse"/>
    </operation>
    <operation name="adminSignOut">
      <input wsam:Action="http://eu.playerservices/PlayerServiceEUImplementation/adminSignOutRequest" message="tns:adminSignOut"/>
      <output wsam:Action="http://eu.playerservices/PlayerServiceEUImplementation/adminSignOutResponse" message="tns:adminSignOutResponse"/>
    </operation>
    <operation name="getPlayerStatus">
      <input wsam:Action="http://eu.playerservices/PlayerServiceEUImplementation/getPlayerStatusRequest" message="tns:getPlayerStatus"/>
      <output wsam:Action="http://eu.playerservices/PlayerServiceEUImplementation/getPlayerStatusResponse" message="tns:getPlayerStatusResponse"/>
    </operation>
    <operation name="suspendAccount">
      <input wsam:Action="http://eu.playerservices/PlayerServiceEUImplementation/suspendAccountRequest" message="tns:suspendAccount"/>
      <output wsam:Action="http://eu.playerservices/PlayerServiceEUImplementation/suspendAccountResponse" message="tns:suspendAccountResponse"/>
    </operation>
  </portType>
  <binding name="PlayerServiceEUImplementationPortBinding" type="tns:PlayerServiceEUImplementation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createPlayerAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="playerSignIn">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="playerSignOut">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="transferAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="adminSignIn">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="adminSignOut">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPlayerStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="suspendAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PlayerServiceEUImplementationService">
    <port name="PlayerServiceEUImplementationPort" binding="tns:PlayerServiceEUImplementationPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

